@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap');
@import './reset.scss';
@import './variables.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.15px;
	height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root,
.app {
	width: 100%;
	height: 100%;
}

.app {
	background: var(--bg-color);
	color: var(--text-color);
}

/* АКТИВНАЯ ССЫЛКА */
.active {
	color: var(--white);
	background: var(--blue-500);
	border-radius: 8px;
}

input[type='number'] {
	-moz-appearance: none;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--blue-500);
	border-radius: 150px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--blue-500);
}
