:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #0057ff;
  --dark-blue: #2d3346;
  --light-blue: #f3f6fb;
  --light-blue-second: #e5efff;
  --blue-second: #5d7993;
  --light-border: #cfdbf1;
  --dark-border: #282e45;
  --green: #00cd86;

  --gradients-dark-blue: linear-gradient(117deg, #1e212d 0%, #21273d 0.01%, #1d202e 91.49%);
  --gradients-dark-grey: linear-gradient(
    176deg,
    rgba(102, 117, 174, 0.1) 1.92%,
    rgba(43, 62, 105, 0.1) 90.46%
  );
}
