.sidebar {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 320px;
  width: 100%;
  background: var(--sidebar-bg);
  padding: 40px 30px;
  flex-shrink: 0;
  grid-row: 1 / -1;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
