.cabins {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.menu {
	display: flex;
	align-items: center;
	gap: 20px;
}

.cabinsHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 10px;
}

.heading {
	font-size: 24px;
	font-weight: 600;
	color: var(--cabins-page-title);
}

.createCabin {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}
