.booking {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header {
	display: flex;
	gap: 38px;
	align-items: center;
}

.details {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.detailsButtons {
	display: flex;
	align-items: center;
	gap: 20px;
}
