.app.dark {
	--logo-color: var(--green-500);
	--bg-color: var(--gradients-dark-blue);
	--text-color: var(--white);
	--sidebar-bg: var(--gradients-dark-grey);
	--header-border-color: var(--dark-border);
	--loader-color: var(--green-400);

	--button-color: var(--secondary-blue);
	--button-text-color: var(--primary-blue);

	--cabins-page-title: var(--white);
	--notification-bg-color: var(--secondary-blue);

	--filter-text-color: var(--black);
	--select-bg-color: var(--dark-blue);
}
