.app.dark {
  --logo-color: var(--green);
  --bg-color: var(--gradients-dark-blue);
  --text-color: var(--white);
  --sidebar-bg: var(--gradients-dark-grey);
  --header-border-color: var(--dark-border);
}
