.app.light {
	--logo-color: var(--blue);
	--bg-color: var(--light-blue);
	--text-color: var(--blue-second);
	--sidebar-bg: var(--white);
	--header-border-color: var(--light-border);
	--loader-color: var(--blue);
}
