.app.light {
	--logo-color: var(--blue-500);
	--bg-color: var(--light-blue);
	--text-color: var(--light-text-color);
	--sidebar-bg: var(--white);
	--header-border-color: var(--light-border);
	--loader-color: var(--blue-500);

	--button-color: var(--secondary-blue);
	--button-text-color: var(--primary-blue);

	--cabins-page-title: var(--black);

	--notification-bg-color: var(--white);

	--filter-text-color: var(--white);
	--select-bg-color: var(--white);
}
