.table {
	border: 1px solid var(--linear-grey);
	background: var(--linear-background);
	font-size: 20px;
	border-radius: 7px;
	overflow: hidden;
	box-shadow: var(--drop-shadow-black);
	width: 100%;
	user-select: none;
}
.tableHeader {
	display: grid;
	grid-template-columns: 0.6fr 1.2fr 1.8fr 1.8fr 1fr 1fr;
	column-gap: 32px;
	align-items: center;

	background-color: var(--linear-background);
	border-bottom: 1px solid var(--linear-grey);
	text-transform: uppercase;
	letter-spacing: 0.4px;
	font-weight: 600;
	color: var(--linear-dark-blue);
	padding: 15px 38px;
}

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
	font-size: 32px;
	color: var(--linear-red-orange);
}

.emptyData {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
