.pageError {
	width: 100%;
	height: 100%;
	display: flex;
	background: linear-gradient(117deg, #1e212d 0%, #21273d 0.01%, #1d202e 91.49%);
}

.left {
	width: 50%;
	height: 100%;
	background: var(--dark-border);
	color: var(--green-500);
	padding: 80px;
}

.right {
	width: 50%;
	height: 100%;
	background: var(--gradients-dark-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 42px;
}

.imageBox {
	width: 600px;
	height: 671px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 80px;
}
.image {
	width: 100%;
	height: 100%;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 430px;
}

.title {
	font-size: 36px;
	font-weight: 500;
	color: var(--white);
}

.description {
	font-size: 16px;
	font-weight: 600;
	color: var(--dark-text-color);
}

.buttons {
	display: flex;
	align-items: center;
	gap: 15px;
}
